.bodyHomeS {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    color:aliceblue
}

.leftHomeS {
    border: solid white 2px;
}

.centerHomeS {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rightHomeS {
    border: solid white 2px;
}

.profileHomeS { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    padding-bottom: 15px;
}

.presentationHomeS {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}