.bodyHomeS {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 9fr 1fr;
    color:aliceblue
}

.upperHomeS {
    display: grid;
    grid-template-columns: 60% 35%;
    gap: 2rem;
}

.homePresentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-end;
}

.homeProfile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.imgProfileHome{
    border-radius: 50%;
    width: 420px;
}

.lowerHomeS {
    display: grid;
}
