.bodyMain {
    background-color: #0c0c0cee;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "home home home"
        "uiLeft about about"
        "uiLeft skills skills"
        "uiLeft project project"
        "form form form";
}

.home{
    height: 100vh;
    grid-area: home;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.uiLeft {
    height: 100vh;
    grid-area: uiLeft;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

.about {
    height: 100vh;
    grid-area: about;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.skills {
    height: 100vh;
    grid-area: skills;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.project {
    height: 100vh;
    grid-area: project;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.form{
    height: 100vh;
    grid-area: form;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*  
Opcion 2

.bodyMain {
    background-color: #0c0c0cee;
    height: auto;
}

.bodySections {
    display: grid;
    grid-template-columns: auto 70%;
    grid-template-rows: 1fr;
    grid-template-areas:
        "uiLeftContainer aboutS"
        "uiLeftContainer skillsS"
        "uiLeftContainer projectS"
        "uiLeftContainer contactS";
}

.uiLeftContainer {
    height: 100vh;
    grid-area: uiLeftContainer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    transition: width 0.5s ease-in-out;
}

.uiLeftSContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutS {
    height: 100vh;
    grid-area: aboutS;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skillsS {
    height: 100vh;
    grid-area: skillsS;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectS {
    height: 100vh;
    grid-area: projectS;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactS {
    height: 100vh;
    grid-area: contactS;
    display: flex;
    align-items: center;
    justify-content: center;
} */
