.bodyMain {
    background-color: #0c0c0cee;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "home home home"
        "uiLeft about about"
        "uiLeft skills skills"
        "uiLeft project project"
        "uiLeft form form";
}

.home{
    height: 100vh;
    grid-area: home;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.uiLeft {
    height: 100vh;
    grid-area: uiLeft;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

.about {
    height: 100vh;
    grid-area: about;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.skills {
    height: 100vh;
    grid-area: skills;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.project {
    height: 100vh;
    grid-area: project;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.form{
    height: 100vh;
    grid-area: form;
    display: flex;
    align-items: center;
    justify-content: center;
}
