.bodyAbout{
    width: 85%;
    height: 70dvh;
    border-radius: 20px;
    padding: 20px;
    background-color: orangered;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3fr;
    align-items: center;
    justify-items: center;
}

.aboutProfessional{
    background-color: brown;
    height: 80%;
    width: 80%;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 5px;
    border: 3px solid white;
}

.aboutcareer{
    background-color: blanchedalmond;
    height: 80%;
    width: 85%;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 5px;
    border: 3px solid blue;
}