 .bodyProfessionalA {
    width: 75%;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.textProfessionalA {
    display: block;
    width: 70ch; 
}