.bodyContactS {
    background-color: aqua;
    width: 85%;
    height: 70dvh;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.formHeader {
    color: aliceblue;
    font-size: x-large;
}

.formName,
.formEmail,
.formTextArea {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.formElement {
    border-radius: 3px;
    font-size: 1em;
}

.formTextArea textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
    font-size: 1em;
    resize: vertical;
}

.formButton {
    background-color: #ccc;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}