.bodyButton {
    /* Estilos para el botón */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .bodyButton a {
    color: white;
    text-decoration: none;
  }
  
  .bodyButton:hover {
    background-color: #0056b3;
  }
  