.bodyButton {
    /* Estilos para el botón */
    padding: 10px 20px;
    background-color: #F56E0F;
    color: #FBFBFB;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .bodyButton a {
    color: #FBFBFB;
    text-decoration: none;
  }
  