.profile{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile img{
    width: 50%;
    border-radius: 100%;
    aspect-ratio: 1;
}

.title{
    color: blue;
    font: bold;
    font-size: 1em;
    text-align: center;
}