.bodyProfile{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgProfile{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.titleProfile{
    color: whitesmoke;
    font: bold;
    font-size: 1em;
    text-align: center;
}