.bodyLeft{
    width: 75%;
    height: 87%;
    border-radius: 20px;
    padding: 15px;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 1.2fr 2fr 1fr;
}

/* Media query para dispositivos pequeños o cambio de estructura */

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.dynamicDescription{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}